body, html {
    font-family: 'Open Sans', sans-serif;
}
h1 {
    color:rgb(62 62 110);
}
h2 {
    color:rgb(30, 162, 214);
    font-size: 16px;
}

h3 {
    color:black;
    margin: 0 0;
    font-size: 16px;
}
p {
    margin: 0 0;
    font-size: 14px;
}
.full {
    border: 3px solid #fff;
    width: 800px;
    margin: 0 auto;
    display:flex;
}


.left-block {
    background-color:rgb(62 62 110);
    width: 250px;
    padding: 75px 10px 25px 40px;
    color: #fff;
    float: left;
}

.left-block a {
    color: #fff; 
}

.left-block ul {
    padding: 10px 0px 20px 15px;
    margin: 0; 
}

.left-block ul li {
    list-style: square;
    padding: 0px 0px 5px 0px;
    margin: 0;
}

.profile-image {
    width: 220px;
    height:220px;
    background: top center url("img/IMG.jpg");
    background-size: cover;
    border-radius: 220px;
    
}

.left-nav-title{
    padding: 75px 10px 5px 0px;
    color: #fff;
    font-weight: bold;
}


.right-block {
    padding: 0px 10px 0px 15px;
    float: left;
    width: 475px;
}
.aboutme {
    color:black;
    margin: 0 0;
}

p {
    color:dimgray;
}

.right-block ul {
    padding: 10px 0px 20px 15px;
    margin: 0; 
}
